
body {	
	background-image:url("bulldog.jpg");
	background-position:center;
	background-size:100% 100%;
	background-repeat:no-repeat;
	background-attachment:fixed;	
	background-color:#F0ECEE;
	Font-family:"Fira Sans";
	position:relative;
	top:0;
	}

ul {
	background:#FOECEE;
	padding: 10px;
	list-style-type:none;
	display:flex;
	justify-content:space-between;
	margin-right:auto;
	align-items:center;
	margin-right:auto;
	width:400px;
	float:right;
	flex:1;
	}


.contact {
	background-color:#FF4850;
	Padding: 10px;
	Border: 15px;
	color:white;
	border-radius: 15px;
	font-size:16px;
	}

h2 {
	font-weight:400;
	position:relative;
	top:20px;
	left: 40px;
	float:left;
	}

.findouthow {
	background-color:#FF4850;
	Padding:10px;
	Border-radius:15px;
	color:white;
	font-weight:400;
	text-align:center;
	font-size:16px;
	position: relative;
	top:200px;
	left:40px;
	width: 200px;
	}

a {
	text-decoration:none;
	color:#88898B;
	}

span {
	color:#FF4850;
	text-style:inherit;
	}

a:hover {
	color:#FF4850;
	}

.findouthow:hover {
	background:#CCC;
	}

.contact:hover {
	background:#CCC;
	color:white;
	}

p {
	font-weight:300;
	color:#88898B;
	position:relative;
	top:200px;
	left:40px;
	width:500px;
	text-size:24px;
	}

h1 {
	font-weight:600;
	position: relative;
	top:200px;
	left:40px;
	width:450px;
	clear:both;
	}

@media screen and (max-width:767px) {
	nav {
	display: inline;
	}
	buttons {
	width:100%
	}
}
@media screen and (min-width:678px) {
	nav {
	width: auto;
	}
}


