
body {		
	background-color:#F0ECEE;
	Font-family:"Fira-Sans";
	position:relative;
	top:0;
	}

ul {
	background:#FOECEE;
	padding: 10px;
	list-style-type:none;
	width:500px;
	flex:1;
	}


.contact {
	background-color:#FF4850;
	Padding: 10px;
	Border: 15px;
	color:white;
	border-radius: 15px;
	font-size:16px;
	width:100%;
	}

.contact:hover {
	background:#CCC;
	color:#FF4850;
	}

a {
	text-decoration:none;
	color:#88898B;
	}

a:hover {
	color:#FF4850;
	}

h2 {
	font-weight:400;
	}

.findouthow {
	background-color:#FF4850;
	Padding:10px;
	Border-radius:15px;
	color:white;
	font-weight:400;
	text-align:center;
	font-size:16px;
	width: 100%;
	}

.findouthow:hover {
	background:#CCC;
	color:#FF4850;
	}

span {
	color:#FF4850;
	text-style:inherit;
	padding-left:6px;
	}

h1 {
	font-weight:600;
	display:flex;
	flex-wrap:wrap;
	width:450px;
	clear:both;
	}

p {
	font-weight:300;
	color:#88898B;
	width:500px;
	text-size:24px;
	display:flex;
	flex-wrap;
	}



@media screen and (min-width:768px) {
	body {
		background-image:url("bulldog.jpg");
		background-position:center;
		background-size:100% 100%;
		background-repeat:no-repeat;
		background-attachment:fixed;
	}
	.findouthow {
		background-color:#FF4850;
		Padding:10px;
		Border-radius:15px;
		color:white;
		font-weight:400;
		text-align:center;
		font-size:16px;
		position: relative;
		top:200px;
		left:40px;
		width: auto;
	}
	ul {
		background:#FOECEE;
		padding: 10px;
		list-style-type:none;
		display:flex;
		justify-content:space-between;
		margin-right:auto;
		align-items:center;
		margin-right:auto;
		width:500px;
		float:right;
		flex:1;
	}
	h1 {
		font-weight:600;
		position:relative;
		top:200px;
		left:40px;
		width:450px;
		clear:both;
		display:flex;
		flex-wrap:wrap;
	}
	p {
		font-weight:300;
		color:#88898B;
		position:relative;
		top:200px;
		left:40px;
		width:500px;
		text-size:24px;
		display:flex;
		flex-wrap;
	}
	h2 {
		font-weight:400;
		position:relative;
		top:20px;
		left: 40px;
		float:left;
	}
}


